* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

img {
  display: block;
}

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1128px;
  height: 100%;
  gap: 24px;
}

.gallery-item {
  width: 360px;
  height: 200px;
  list-style: none;
}

.gallery-image {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.gallery-image:hover {
  transform: scale(1.05);
}